# Modelo Isolation Forest

En este documento se procede a desarrollar la evaluación del modelo Isolation Forest para identificar que tan efectivo es en la detección de anomalias y como se compara con los otros modelos. La comparación con los otros documentos se puede leer en el documento del anexo financiero en el que se realiza la comparación de los resultados.

In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import IsolationForest
import openpyxl

In [2]:
## Se procede a cargar la información de los clientes
D1 = pd.read_csv('DATOSCLIENTE1.csv')
D2 = pd.read_csv( 'DATOSCLIENTE2.csv')
D3 = pd.read_csv( 'DATOSCLIENTE3.csv')
D4 = pd.read_csv( 'DATOSCLIENTE4.csv')
D5 = pd.read_csv( 'DATOSCLIENTE5.csv')
D6= pd.read_csv( 'DATOSCLIENTE6.csv')
D7= pd.read_csv( 'DATOSCLIENTE7.csv')
D8= pd.read_csv( 'DATOSCLIENTE8.csv')
D9= pd.read_csv( 'DATOSCLIENTE9.csv')
D10= pd.read_csv( 'DATOSCLIENTE10.csv')
D11= pd.read_csv( 'DATOSCLIENTE11.csv')
D12= pd.read_csv( 'DATOSCLIENTE12.csv')
D13= pd.read_csv( 'DATOSCLIENTE13.csv')
D14= pd.read_csv( 'DATOSCLIENTE14.csv')
D15= pd.read_csv( 'DATOSCLIENTE15.csv')
D16= pd.read_csv( 'DATOSCLIENTE16.csv')
D17= pd.read_csv( 'DATOSCLIENTE17.csv')
D18= pd.read_csv( 'DATOSCLIENTE18.csv')
D19= pd.read_csv( 'DATOSCLIENTE19.csv')
D20= pd.read_csv( 'DATOSCLIENTE20.csv')
D21= pd.read_csv( 'DATOSCLIENTE21.csv')
D22= pd.read_csv( 'DATOSCLIENTE22.csv')
D23= pd.read_csv( 'DATOSCLIENTE23.csv')
D24= pd.read_csv( 'DATOSCLIENTE24.csv')
D25= pd.read_csv( 'DATOSCLIENTE25.csv')
D26= pd.read_csv( 'DATOSCLIENTE26.csv')
D27= pd.read_csv( 'DATOSCLIENTE27.csv')
D28= pd.read_csv( 'DATOSCLIENTE28.csv')
D29= pd.read_csv( 'DATOSCLIENTE29.csv')
D30= pd.read_csv( 'DATOSCLIENTE30.csv')

In [3]:
## Se crea la columna fuente que guarda información de los clientes

D1['fuente']= 'DATOSCLIENTE1.csv'
D2['fuente']= 'DATOSCLIENTE2.csv'
D3['fuente']= 'DATOSCLIENTE3.csv'
D4['fuente']= 'DATOSCLIENTE4.csv'
D5['fuente']= 'DATOSCLIENTE5.csv'
D6['fuente']= 'DATOSCLIENTE6.csv'
D7['fuente']= 'DATOSCLIENTE7.csv'
D8['fuente']= 'DATOSCLIENTE8.csv'
D9['fuente']= 'DATOSCLIENTE9.csv'
D10['fuente']= 'DATOSCLIENTE10.csv'
D11['fuente']= 'DATOSCLIENTE11.csv'
D12['fuente']= 'DATOSCLIENTE12.csv'
D13['fuente']= 'DATOSCLIENTE13.csv'
D14['fuente']= 'DATOSCLIENTE14.csv'
D15['fuente']= 'DATOSCLIENTE15.csv'
D16['fuente']= 'DATOSCLIENTE16.csv'
D17['fuente']= 'DATOSCLIENTE17.csv'
D18['fuente']= 'DATOSCLIENTE18.csv'
D19['fuente']= 'DATOSCLIENTE19.csv'
D20['fuente']= 'DATOSCLIENTE20.csv'
D21['fuente']= 'DATOSCLIENTE21.csv'
D22['fuente']= 'DATOSCLIENTE22.csv'
D23['fuente']= 'DATOSCLIENTE23.csv'
D24['fuente']= 'DATOSCLIENTE24.csv'
D25['fuente']= 'DATOSCLIENTE25.csv'
D26['fuente']= 'DATOSCLIENTE26.csv'
D27['fuente']= 'DATOSCLIENTE27.csv'
D28['fuente']= 'DATOSCLIENTE28.csv'
D29['fuente']= 'DATOSCLIENTE29.csv'
D30['fuente']= 'DATOSCLIENTE30.csv'

In [4]:
## Se une la información en un solo dataframe

SB = pd.concat([D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,D12,D13,D14,D15,D16,D17,D18,D19,D20,D21,D22,D23,D24,D25,D26,D27,D28,D29,D30])

In [5]:
## Se cambian todos los valores que son menores a 0 en 0
SB.loc[SB.Active_energy<0, 'Active_energy']=0
SB.loc[SB.Reactive_energy<0, 'Reactive_energy']=0
SB.loc[SB.Voltaje_FA<0, 'Voltaje_FA']=0
SB.loc[SB.Voltaje_FC<0, 'Voltaje_FC']=0

In [6]:
SB

,Fecha,Active_energy,Reactive_energy,Voltaje_FA,Voltaje_FC,fuente
0,2021-01-01 00:00:00,0.357841,0.282788,455.139171,510.561002,DATOSCLIENTE1.csv
1,2021-01-01 01:00:00,0.372264,0.431377,469.978787,469.917178,DATOSCLIENTE1.csv
2,2021-01-01 02:00:00,1.044687,0.338626,468.721120,546.949147,DATOSCLIENTE1.csv
3,2021-01-01 03:00:00,0.566425,0.495791,452.329255,444.122989,DATOSCLIENTE1.csv
4,2021-01-01 04:00:00,1.080556,0.472018,513.477596,535.463719,DATOSCLIENTE1.csv
...,...,...,...,...,...,...
11410,2022-04-21 10:00:00,0.960105,0.473234,1273.150602,1027.084539,DATOSCLIENTE30.csv
11411,2022-04-21 11:00:00,0.624300,0.699936,1063.524968,1205.829819,DATOSCLIENTE30.csv
11412,2022-04-21 12:00:00,0.985633,0.123560,1207.284283,1127.893714,DATOSCLIENTE30.csv
11413,2022-04-21 13:00:00,0.710436,0.399262,1205.012971,1090.835898,DATOSCLIENTE30.csv
11414,2022-04-21 14:00:00,1.169279,0.013737,1145.134963,1129.472067,DATOSCLIENTE30.csv

In [7]:
## Se agregan nuevos campos al dataframe para poder tener más variables que evaluar

SB['Fecha'] = pd.to_datetime(SB['Fecha'])
SB['Year'] = SB['Fecha'].dt.year
SB['Month'] = SB['Fecha'].dt.month
SB['Day'] = SB['Fecha'].dt.day
SB['DayWeek'] = SB['Fecha'].dt.day_of_week
SB['Hour'] = SB['Fecha'].dt.hour
SB

,Fecha,Active_energy,Reactive_energy,Voltaje_FA,Voltaje_FC,fuente,Year,Month,Day,DayWeek,Hour
0,2021-01-01 00:00:00,0.357841,0.282788,455.139171,510.561002,DATOSCLIENTE1.csv,2021,1,1,4,0
1,2021-01-01 01:00:00,0.372264,0.431377,469.978787,469.917178,DATOSCLIENTE1.csv,2021,1,1,4,1
2,2021-01-01 02:00:00,1.044687,0.338626,468.721120,546.949147,DATOSCLIENTE1.csv,2021,1,1,4,2
3,2021-01-01 03:00:00,0.566425,0.495791,452.329255,444.122989,DATOSCLIENTE1.csv,2021,1,1,4,3
4,2021-01-01 04:00:00,1.080556,0.472018,513.477596,535.463719,DATOSCLIENTE1.csv,2021,1,1,4,4
...,...,...,...,...,...,...,...,...,...,...,...
11410,2022-04-21 10:00:00,0.960105,0.473234,1273.150602,1027.084539,DATOSCLIENTE30.csv,2022,4,21,3,10
11411,2022-04-21 11:00:00,0.624300,0.699936,1063.524968,1205.829819,DATOSCLIENTE30.csv,2022,4,21,3,11
11412,2022-04-21 12:00:00,0.985633,0.123560,1207.284283,1127.893714,DATOSCLIENTE30.csv,2022,4,21,3,12
11413,2022-04-21 13:00:00,0.710436,0.399262,1205.012971,1090.835898,DATOSCLIENTE30.csv,2022,4,21,3,13
11414,2022-04-21 14:00:00,1.169279,0.013737,1145.134963,1129.472067,DATOSCLIENTE30.csv,2022,4,21,3,14

In [8]:
## Al igual que como se realizo en el notebook en el que se evaluan los modelos de K-Means y OCSVM se procede a crear una función que identifica outliers de acuerdo a lo que se definio con base en los estandares de la industria

def identify_outliers(group, threshold=3):
    mean = group['Active_energy'].mean()
    std_dev = group['Active_energy'].std()
    group['Outlier_Active_energy'] = group['Active_energy'].apply(lambda x: 1 if np.abs((x - mean) / std_dev) > threshold else 0)
    
    mean = group['Reactive_energy'].mean()
    std_dev = group['Reactive_energy'].std()
    group['Outlier_Reactive_energy'] = group['Reactive_energy'].apply(lambda x: 1 if np.abs((x - mean) / std_dev) > threshold else 0)
    
    mean = group['Voltaje_FA'].mean()
    std_dev = group['Voltaje_FA'].std()
    group['Outlier_Voltaje_FA'] = group['Voltaje_FA'].apply(lambda x: 1 if np.abs((x - mean) / std_dev) > threshold else 0)
    
    mean = group['Voltaje_FC'].mean()
    std_dev = group['Voltaje_FC'].std()
    group['Outlier_Voltaje_FC'] = group['Voltaje_FC'].apply(lambda x: 1 if np.abs((x - mean) / std_dev) > threshold else 0)
    
    return group

AGRUPACIÓN POR AÑO MES DIA y HORA (3)

In [9]:
## Se agrupa la información

SB_Agrupado3 = SB.groupby(["fuente", "Year","Month","Day","Hour"])[["fuente", "Year","Month","Day","Hour","Active_energy","Reactive_energy","Voltaje_FA","Voltaje_FC"]].agg({
    'fuente':'first',
    'Year':'first',
    'Month':'first',
    'Day':'first',
    'Hour':'first',
    "Active_energy":'sum',
    "Reactive_energy":'sum',
    "Voltaje_FA":'sum',
    "Voltaje_FC":'sum'
    }
)
SB_Agrupado3.describe()

,Year,Month,Day,Hour,Active_energy,Reactive_energy,Voltaje_FA,Voltaje_FC
count,463425.000000,463425.000000,463425.000000,463425.000000,463425.000000,463425.000000,463425.000000,463425.000000
mean,2021.500912,5.955615,15.607762,11.497209,1.472884,0.873086,1420.188470,1438.515836
std,0.621279,3.519334,8.783858,6.922158,1.717838,1.158846,766.299118,746.447449
min,2021.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.031000,0.031000
25%,2021.000000,3.000000,8.000000,5.000000,0.242788,0.112832,719.462874,748.148254
50%,2021.000000,6.000000,16.000000,11.000000,0.810771,0.380650,1625.493463,1634.696089
75%,2022.000000,9.000000,23.000000,17.000000,1.992488,1.222834,2037.276385,2040.554497
max,2023.000000,12.000000,31.000000,23.000000,14.622644,11.135141,4266.229746,4399.038932

In [10]:
SB_Agrupado3 = SB_Agrupado3[~((SB_Agrupado3['Year']==2023) & (SB_Agrupado3['Month']==4))]
SB_Agrupado3=SB_Agrupado3.reset_index(drop=True)

In [11]:
outlier_df3 = SB_Agrupado3.groupby('fuente').apply(identify_outliers)

In [12]:
outlier_df3['Anomalia']= (outlier_df3['Outlier_Active_energy']+outlier_df3['Outlier_Reactive_energy']+outlier_df3['Outlier_Voltaje_FA']+outlier_df3['Outlier_Voltaje_FC'])
outlier_df3=outlier_df3.reset_index(drop=True)
outlier_df3.groupby('fuente')[['Anomalia']].agg("sum").sort_values(by ='Anomalia', ascending=False)

                    Anomalia
fuente
DATOSCLIENTE4.csv       3036
DATOSCLIENTE2.csv       2779
DATOSCLIENTE3.csv       2613
DATOSCLIENTE5.csv       1853
DATOSCLIENTE1.csv       1817
DATOSCLIENTE14.csv      1403
DATOSCLIENTE8.csv       1219
DATOSCLIENTE19.csv      1119
DATOSCLIENTE20.csv       975
DATOSCLIENTE11.csv       840
DATOSCLIENTE7.csv        800
DATOSCLIENTE21.csv       699
DATOSCLIENTE29.csv       679
DATOSCLIENTE24.csv       551
DATOSCLIENTE13.csv       526
DATOSCLIENTE6.csv        522
DATOSCLIENTE15.csv       442
DATOSCLIENTE18.csv       425
DATOSCLIENTE28.csv       388
DATOSCLIENTE16.csv       377
DATOSCLIENTE25.csv       283
DATOSCLIENTE22.csv       270
DATOSCLIENTE26.csv       218
DATOSCLIENTE17.csv       161
DATOSCLIENTE23.csv       115
DATOSCLIENTE30.csv       113
DATOSCLIENTE12.csv       113
DATOSCLIENTE27.csv       107
DATOSCLIENTE10.csv        92
DATOSCLIENTE9.csv         41

In [13]:
outlier_df3['fuente']=outlier_df3['fuente'].str.replace('DATOSCLIENTE','').str.replace('.csv','')
outlier_df3

,fuente,Year,Month,Day,Hour,Active_energy,Reactive_energy,Voltaje_FA,Voltaje_FC,Outlier_Active_energy,Outlier_Reactive_energy,Outlier_Voltaje_FA,Outlier_Voltaje_FC,Anomalia
0,1,2021,1,1,0,0.357841,0.282788,455.139171,510.561002,0,0,0,0,0
1,1,2021,1,1,1,0.372264,0.431377,469.978787,469.917178,0,0,0,0,0
2,1,2021,1,1,2,1.044687,0.338626,468.721120,546.949147,0,0,0,0,0
3,1,2021,1,1,3,0.566425,0.495791,452.329255,444.122989,0,0,0,0,0
4,1,2021,1,1,4,1.080556,0.472018,513.477596,535.463719,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463410,9,2023,3,31,19,0.138272,0.296173,1414.666170,1354.851565,0,0,0,0,0
463411,9,2023,3,31,20,0.231000,0.309493,1343.358528,1288.567372,0,0,0,0,0
463412,9,2023,3,31,21,0.041937,0.314091,1050.653622,1266.553989,0,0,0,0,0
463413,9,2023,3,31,22,0.231000,0.266937,1104.985834,991.259378,0,0,0,0,0
463414,9,2023,3,31,23,0.150296,0.312547,1284.048639,1091.283710,0,0,0,0,0

In [14]:
Anomalias_3= outlier_df3.drop(['Active_energy','Reactive_energy','Voltaje_FA', 'Voltaje_FC',   'Outlier_Active_energy',    'Outlier_Reactive_energy',  'Outlier_Voltaje_FA',   'Outlier_Voltaje_FC'], axis=1)
Anomalias_3.loc[Anomalias_3.Anomalia>0, 'Anomalia']=1
Anomalias_3

       fuente  Year  Month  Day  Hour  Anomalia
0           1  2021      1    1     0         0
1           1  2021      1    1     1         0
2           1  2021      1    1     2         0
3           1  2021      1    1     3         0
4           1  2021      1    1     4         0
...       ...   ...    ...  ...   ...       ...
463410      9  2023      3   31    19         0
463411      9  2023      3   31    20         0
463412      9  2023      3   31    21         0
463413      9  2023      3   31    22         0
463414      9  2023      3   31    23         0

[463415 rows x 6 columns]

In [15]:
datos_3 = outlier_df3.drop([ 'Outlier_Active_energy','Outlier_Reactive_energy', 'Outlier_Voltaje_FA', 'Outlier_Voltaje_FC',
       'Anomalia'], axis=1)
datos_3

,fuente,Year,Month,Day,Hour,Active_energy,Reactive_energy,Voltaje_FA,Voltaje_FC
0,1,2021,1,1,0,0.357841,0.282788,455.139171,510.561002
1,1,2021,1,1,1,0.372264,0.431377,469.978787,469.917178
2,1,2021,1,1,2,1.044687,0.338626,468.721120,546.949147
3,1,2021,1,1,3,0.566425,0.495791,452.329255,444.122989
4,1,2021,1,1,4,1.080556,0.472018,513.477596,535.463719
...,...,...,...,...,...,...,...,...,...
463410,9,2023,3,31,19,0.138272,0.296173,1414.666170,1354.851565
463411,9,2023,3,31,20,0.231000,0.309493,1343.358528,1288.567372
463412,9,2023,3,31,21,0.041937,0.314091,1050.653622,1266.553989
463413,9,2023,3,31,22,0.231000,0.266937,1104.985834,991.259378
463414,9,2023,3,31,23,0.150296,0.312547,1284.048639,1091.283710

In [16]:
# Configurando el Isolation Forest Agrupación Año Mes dia y hora
clf8 = IsolationForest(n_estimators=100, max_samples='auto', contamination=float(.04), \
                      max_features=1.0, bootstrap=False, n_jobs=-1, random_state=42, verbose=0)

# Entrenar el Isolation Forest
clf8.fit(datos_3)

# Predecir si una observación es una anomalía. -1 indica anomalía, 1 indica normal.
preds8 = clf8.predict(datos_3)

# Añadir las predicciones al DataFrame
datos_3['anomaly'] = preds8

anomalies_8 = datos_3[datos_3['anomaly'] == -1]
print(anomalies_8)

       fuente  Year  Month  Day  Hour  Active_energy  Reactive_energy  \
720         1  2021      1   31     0       2.773075         0.006843
743         1  2021      1   31    23       2.898785         0.231000
2136        1  2021      3   31     0       3.535730         1.877968
5855        1  2021      9    1    23       5.199952         2.277318
5900        1  2021      9    3    20       5.963940         2.490716
...       ...   ...    ...  ...   ...            ...              ...
463152      9  2023      3   21     1       0.588680         0.479844
463174      9  2023      3   21    23       0.227989         0.390329
463175      9  2023      3   22     0       0.391134         0.445196
463197      9  2023      3   22    22       0.026374         0.316748
463222      9  2023      3   23    23       0.231000         0.353278

        Voltaje_FA  Voltaje_FC  anomaly
720     503.626239  490.956726       -1
743     452.602294  562.812609       -1
2136    516.902118  420.465060       -1
5855    504.491260  493.287739       -1
5900    475.253556  439.397620       -1
...            ...         ...      ...
463152    0.031000   33.914606       -1
463174    0.031000  162.696203       -1
463175    0.031000  214.031013       -1
463197   69.029754  142.408393       -1
463222   98.824060  168.465675       -1

[18537 rows x 10 columns]

In [17]:
## Se crea una tabla cruzada para evaluar la efectividad del modelo

Anomalias_IF8 = anomalies_8.drop(['Active_energy','Reactive_energy','Voltaje_FA',   'Voltaje_FC'], axis=1)
Validacion_8=Anomalias_3.merge(Anomalias_IF8,how='outer')
Validacion_8['anomaly'] = Validacion_8['anomaly'].fillna(0)
Validacion_8['resultado']=Validacion_8['Anomalia']+Validacion_8['anomaly']
Validacion_8.groupby(['fuente','Year', 'Month'])[['Anomalia','anomaly','resultado']].agg("sum").sort_values(by ='resultado', ascending=False)

tabla_cruzada_8 = pd.crosstab(Validacion_8['Anomalia'], Validacion_8['anomaly'])
print(tabla_cruzada_8)

anomaly    -1.0     0.0
Anomalia
0         15565  430198
1          2972   14680

In [24]:
## Se extraen los resultados a un documento de excel 

Anomalias_IF8.to_excel('Anomalias.xlsx', sheet_name='Hoja1', index=False)